
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100, 900;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 1rem "Montserrat", sans-serif;
    width: 100%;
    min-height: 100vh;
}

nav {
    background-color: rgb(132, 132, 241);
    color: #ffff;
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.541);
}
/* 
.container-logo {

} */

.section-links {
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: space-evenly;
}


.container-links:hover{    /*meter um js aqui*/
    transform: scale(1.1);
    transition: .2s ease-out;
}

nav a {
    color: #ffff;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
}

.container-btns{
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.login {
    background-color: #ffff;
    width: 100px;
    font: 500 1rem "Montserrat", sans-serif;
    color: rgb(132, 132, 241);
    border: 2px solid rgb(98, 98, 203);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.212);
}

.login:hover {
    cursor: pointer;
    background-color: rgba(158, 158, 235, 0.292);
    color: #ffff;
    transition: .3s ease-in-out;   
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.img-hoteis {
    background-image: url(../assests/imagem-hotel.jpg);
    background-repeat: no-repeat;;
    height: 500px;
}