* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-princ: rgb(54, 139, 121);
    --verde-escuro: #324D45;
    --marron: #372C29;
    --marron-alaranjado: #8C4C3A;

}

body {
    font: 400 1rem "Montserrat", sans-serif;
    width: 100%;
    min-height: 100vh;
}

nav {
    background-color: var(--verde-princ);
    color: #ffff;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
/* 
.container-logo {

} */

.section-links {
    display: flex;
    width: 300px;
    justify-content: space-between;
}


.container-links:hover{    /*meter um js aqui*/
    transform: scale(1.1);
    transition: .2s ease-out;
}

nav a {
    color: #ffff;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
}

.container-btns{
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.login {
    background-color: #ffff;
    width: 100px;
    border: 1px solid var(--verde-escuro);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.212);
}

.login {
    font: 600 1rem "Montserrat", sans-serif;
    color: var(--verde-princ);
}

.login:hover {
    cursor: pointer;
    background-color: var(--verde-princ);
    color: #ffff;
    transition: .3s ease-in-out;   
}

.container-banner {
    position: relative;
    height: 400px;
}

.container-img > img {
    width: 100%;
    height: 400px;
}

.container-banner .container-text-banner{
    position: absolute;
    top: 150px;
    left: 50px;
    color: #ffff;
    width: 600px;
}

.container-filter {
    width: 620px;
    max-height: 100px;
    background-color: rgb(54, 139, 121);
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.349);
    justify-content: space-between;
}

.content-filter {
    background-color: #ffff;
    border-radius: 10px;
    padding: 10px;
    height: 40px;
    width: 200px;
    font-size: .8rem;
    font-weight: 700;
    cursor: pointer;
}

.container-city {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-filter img {
    width: 15px;
    height: 15px;
}

#arrow-top-icon {
    display: none;
}

.content-city{
    display: none;
}

.content-city .active{
    margin-top: 20px;
    padding: 10px;
    width: 300px;
    height: 150px;
    background-color: #ffff;
    border: 2px solid var(--verde-princ);
    border-radius: 10px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.329);
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
}


.city-options {
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;
}

.divisoria {
    border-bottom: 1px solid grey;
    border-radius: 1px;
}