* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-princ: rgb(54, 139, 121);
    --verde-escuro: #324D45;
    --marron: #372C29;
    --marron-alaranjado: #8C4C3A;

}

body {
    font: 400 1rem "Montserrat", sans-serif;
    width: 100%;
    min-height: 100vh;
}

/* Estilização Header */

nav {
    background-color: var(--verde-princ);
    color: #ffff;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
/* 
.container-logo {

} */

.section-links {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.container-links:hover{ 
    transform: scale(1.1);
    transition: .2s ease-out;
}

nav .section-links a {
    color: #ffff;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    position: relative;
    padding: 2px;
}

nav .section-links a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
} 

nav .section-links a:hover::after {
    width: 100%;
}

.container-login img{
    width: 35px;
    height: auto;
}

/* Fim da estilização Header */

/* Estilização main */

/* Estilização Banner */

.container-banner {
    height: 500px;
}

.container-img > img {
    position: relative;
    width: 100%;
    max-height: 500px;
}

.container-banner .container-text-banner{
    position: absolute;
    top: 230px;
    left: 180px;
    color: #ffff;
    width: 600px;
}

/* Fim estilização Banner */

/* Estilização do conteúdo do main */
.container-promocao {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.content-promocao img {
    width: 400px;
    height: 200px;
    border-radius: 7px 7px 0 0;
    position: relative;
}

.content-promocao {
    width: 401px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 400px;    
    box-shadow: 0px 15px 15px rgba(0,0,0,.2);
}

.content-promocao .faixa-promo{
    width: 200px;
    height: 150px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.content-promocao .faixa-promo::before {
    content: '20% OFF';
    width: 230px;
    height: 30px;
    background-color: var(--verde-princ);
    position: absolute;
    transform: rotate(-45deg) translateY(-50px);
    box-shadow: 0px 10px 15px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    margin-right: 10px;
}

.description-promo {
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.description-promo ul {
    list-style-type: '\02714';
    list-style-position: inside;
    padding-left: 5px;
}

.description-promo li > .listas {
    padding-left: 10px;
}

.content-promocao button {
    width: 250px;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--verde-princ);
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
}

.content-promocao button:hover {
    background-color: var(--verde-escuro);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.container-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 100px 0;
}

.content-conteudo {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.container-conteudo h2 {
    margin: 50px 0;
    color: var(--verde-escuro);
}

.text-conteudo {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.images-conteudo {
    width: 600px;
}

.images-conteudo img{
    width: 600px;
    height: 400px;
    border-radius: 10px;
}

#images-capitolio-2, 
#images-capitolio-3 {
    display: none;
}

.text-conteudo h3 {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 10px;
}

.text-conteudo ul {
    list-style-type: '\02714';
    list-style-position: inside;
    padding-left: 50px;
}

.text-conteudo li {
    padding: 10px;
}

.text-conteudo li > span {
    padding-left: 10px;
}

.text-conteudo p {
    text-indent: 1rem;
    padding: 10px;
}

.text-conteudo button {
    margin: 15px auto;
    width: 250px;
    height: 65px;
    border-radius: 10px;
    background-color: var(--verde-princ);
}

.text-conteudo button:hover {
    background-color: var(--verde-escuro);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.text-conteudo button a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

#images-gramado-2, 
#images-gramado-3 {
    display: none;
}

/* Fim estilização conteúdo main */
/* Fim estilização do main */

/* Estilização footer */

footer {
    background-color: var(--verde-princ);
    color: #ffff;
    display: flex;
    flex-direction: column;
}

.container-cadastro {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 50px 0;
}

.cadastro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.cadastro img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.container-cadastro h2{
    text-align: center;
}

.container-cadastro input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    width: 450px;
    font: 400 1rem "Montserrat", sans-serif;
}

.container-cadastro button {
    width: 150px;
    height: 55px;
    border-radius: 10px;
    background-color: #fff;
    color: var(--verde-princ);
    font-size: 1.2rem;
    font-weight: 600;
}

.container-cadastro button:hover {
    background-color: var(--verde-escuro);
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.container-info {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.container-contantos h2,
.container-parceiros h2 {
    margin-bottom: 15px;
}

.content-contantos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redes-sociais img {
    width: 30px;
    height: 30px;
    margin-right: 40px;
}

.content-parceiros {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.parceiros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.content-parceiros img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}